<div class="mx-4 mb-2 border-b-2 min-h-12 border-slate-300 flex justify-center items-center">
  <div class=" flex flex-row gap-2 space-x-4">
    <div class="nav-item" routerLink=''>
      <span class="material-icons">home</span>
      Home
    </div>
    <div class="nav-item" routerLink='/blog'>
      <span class="material-icons">edit</span>
      Blog
    </div>
    <div class="nav-item" routerLink='/about'>
      <span class="material-icons">person</span>
      About
    </div>

  </div>
</div>
